<% @page_title = 'After-school Tutoring Sign Up' %>
<%= render partial: 'layouts/header', locals: {page_title: @page_title} %><br>
<div id="wrapper">

  <%= form_for @user do |f| %>
    <% if @user.errors.any? %>
      <% @user.errors.full_messages.each do |msg| %>
        <div class="alert-error"><%= msg %></div>
      <% end %>
    <% end %>

  <div class="form-group">
    <%= f.label :role %>
    <%= f.select :role, ['I need tutoring', 'I want to be a tutor']%>
  </div>

  <div class="form-group">
    <%= f.label :first_name %>
    <%= f.text_field :first_name, class:'form-control', placeholder: 'John' %>
  </div>

  <div class="form-group">
    <%= f.label :last_name %>
    <%= f.text_field :last_name, class:'form-control', placeholder: 'Smith' %>
  </div>

  <div class="form-group">
    <%= f.label :school %>
    <%= f.text_field :school, class:'form-control', placeholder: 'Your-town Area School District, College, or University' %>
  </div>

  <div class="form-group">
    <%= f.label :grade %>
    <%= f.select :grade, ['1rst Grade', '2nd Grade', '3rd Grade', '4rth Grade', '5th Grade', '6th Grade', '7th Grade', '8th Grade', '9th Grade Freshman', '10th Grade Sophmore', '11th Grade Junior', '12th Grade Senior','College Freshman', 'College Sophmore', ' College Junior', 'College Senior' , 'Other']%>
  </div>

  <div class="form-group">
    <%= f.label :username %>
    <%= f.text_field :username, placeholder: 'Becky' %><br>
  </div>

  <div class="form-group">
    <%= f.label :email %>
    <%= f.text_field :email, placeholder: 'Becky@badatstarcraft.org' %>
  </div>

  <div class="form-group">
    <%= f.label :password %>
    <%= f.text_field :password, placeholder: 'Password' %>
  </div>

  <%= f.submit "Submit", class:'btn btn-primary' %>

  <%= link_to "Cancel", users_path %>
  <% end %>
