<h2>After-school Tutoring Sign In</h2>
<div id="wrapper">

<%= form_for @user do |f| %>
<% if @user.errors.any? %>
<% @user.errors.full_messages.each do |msg| %>

<div class="alert-error"><%= msg %></div>
<% end %>
<% end %>

<div>
  <%= f.label :email %>
  <%= f.text_field :username, placeholder: 'mymail@mail.com' %><br>
</div>

<div>
  <%= f.label :password %>
  <%= f.text_field :password_hash, placeholder: 'X8df!90EO' %><br>
</div>

<%= f.submit "Submit" %>

<%= link_to "Cancel", users_path %>
<% end %>
